.navbar-light .navbar-nav .active > .nav-link {
  background-color: #efefef;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #808080;
}

  .navbar-light .navbar-nav > a:hover {
    background-color: #efefef;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #808080;
  }

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
  color: white;
}

.app-component {
  padding-left: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #027FF4 !important;
  background-image: none;
}

.navbar-inner {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1000;
}
